<h3 class="text-center text-secondary py-4">Expedientes</h3>

<div class="card">
    <div class="card-header bg-info">Búsqueda por cédula </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label class="font-weight-bold text-center w-100" for="cedula">Cédula</label>
                <div class="text-danger text-center" *ngIf="cedulaError">
                    Ingrese la cédula
                </div>
                <input placeholder="Ingrese la cédula" [(ngModel)]="cedula" class="form-control text-center" type="text"
                    name="cedula" id="cedula">


            </div>


        </form>

        <div class="form-group">
            <button (click)="buscarCedula()" style="width: 100%;" class="btn btn-info">
                <i class="fas fa-search"></i>
                Buscar
            </button>
        </div>
    </div>

</div>



<h4 class="text-secondary">Estudiante</h4>
<div class="alert" style="background: #fff3cd;" role="alert" *ngIf="!estudiante?.id">
    {{mensaje}}
</div>

<div class="alert alert-p " role="alert" *ngIf="estudiante?.id">
    <div class="text-center"><strong>{{estudiante?.nombre}} {{estudiante?.apellido}}</strong></div>
</div>

<hr>
<h4 class="text-secondary">Expediente</h4>
<div class="alert" style="background: #fff3cd;" role="alert" *ngIf="!estudiante?.id">
    No existe ningún registro
</div>
<div class="alert" style="background: #fff3cd;" role="alert" *ngIf="estudiante?.id && estudiante?.matriculas.length==0">
    El estudiante seleccionado no tiene Expediente
</div>
<div class="accordion" id="accordionExample">
    <div class="card" *ngFor=" let matricula of estudiante?.matriculas;let i = index">
        <div class="card-header bg-secondary" id=" headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                    attr.data-target="#matricula{{i}}" aria-expanded="true" aria-controls="collapseOne">
                    {{matricula?.periodo_lectivo?.periodo_academico}} <i class="fas fa-chevron-circle-down"></i>
                </button>
            </h5>
        </div>

        <div id="matricula{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Asignatura</th>
                            <th>Ciclo</th>
                            <th>Carrera</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asig_matri of matricula?.matriculas_asignaturas">
                            <td>{{asig_matri.asignatura.nombre}}</td>
                            <td>{{asig_matri.asignatura.ciclo.nombre}}</td>
                            <td>{{asig_matri.asignatura.ciclo.carrera.nombre}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>