<h3 class="text-center text-secondary py-3">PREGUNTAS</h3>

<table class="table table-striped">
    <thead class="text-center">
        <tr>
            <th>Dominios</th>
            <th>Subdominios</th>
            <th>Total Preguntas</th>
            <th>Ver</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let criterio of criterios">
            <td class="text-center">{{criterio.nombre}}</td>
            <td>
                <ng-container *ngFor="let sub of criterio.subcriterios; index as i">
                    <div> <strong>{{i+1}}. </strong> {{sub.nombre}}</div>
                </ng-container>
            </td>
            <td class="text-center">
                <ng-container *ngFor="let sub of criterio.subcriterios; index as i">
                    <div>
                        {{sub.preguntas.length}}</div>
                </ng-container>
            </td>
            <td class="text-center"><button (click)="cargarPreguntas(criterio)" class="btn btn-info btn-sm"> <i
                        class="fas fa-eye"></i> Ver</button>
            </td>
        </tr>
    </tbody>

</table>

<h3 class="text-secondary py-2">Detalle Preguntas</h3>
<div class="alerta alert-w" style="background: #fff3cd;" role="alert" *ngIf="!criterioPresentar.id">
    No se a encontrado ningún registro
</div>
<div class="alerta alert-p text-center text-uppercase" role="alert" *ngIf="criterioPresentar.id">
    DOMINIO: <strong>{{criterioPresentar.nombre}}</strong>
</div>

<div *ngIf="criterioPresentar.id">
    <div class="accordion" id="accordionExample">
        <div class="card" *ngFor=" let subcriterio of criterioPresentar.subcriterios;let i = index">
            <div class="card-header bg-secondary" id=" headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                        attr.data-target="#subcriterio{{i}}" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Subdominio:</strong> {{subcriterio.nombre}} <i class="fas fa-chevron-circle-down"></i>
                    </button>
                </h5>
            </div>

            <div id="subcriterio{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">


                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Enunciado</th>

                                <th>Evaluacion - Criterio</th>

                                <th>Tipo de Respuestas</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pregunta of subcriterio.preguntas">
                                <td>{{pregunta.enunciado}}</td>
                                <td>
                                    <ng-container *ngFor="let exa of pregunta.evaluaciones; index as i">
                                        <div>
                                            <strong>-</strong> {{exa.clasificacion.nombre}}
                                        </div>
                                    </ng-container>
                                </td>

                                <td>
                                    <ng-container *ngFor="let tr of pregunta.tipo_pregunta.tipo_respuestas; index as i">
                                        <div>
                                            <strong>- </strong> {{tr.nombre}}
                                        </div>
                                    </ng-container>
                                </td>
                                <td><button class="btn btn-success btn-sm"
                                        [routerLink]="['/pregunta/form',pregunta.id]">
                                        <i class="fas fa-edit"> Editar</i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>