<h3 class="text-center text-secondary py-3">ASIGNATURAS</h3>

<div class="card">
    <div class="card-header text-center font-weight-bold text-white bg-primary">
        <div class="text-center">
            <div>Buscar</div>
        </div>
    </div>

    <div class="card-body">

        <form>
            <label class="font-weight-bold">Carrera:</label>
            <mat-form-field class="w-100">
                <mat-select [(value)]="carrera">
                    <mat-option [value]="undefined">--- Seleccione una Carrera ---</mat-option>
                    <mat-option *ngFor="let c of carreras" [value]="c">{{c.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="w-100">
                <label class="font-weight-bold">Ciclo:</label>
                <mat-select [(value)]="ciclo">
                    <mat-option [value]="undefined">--- Seleccione una Ciclo ---</mat-option>
                    <mat-option *ngFor="let c of carrera.ciclos" [value]="c">{{c.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>



            <div class="form-group">
                <button (click)="buscar()" class=" btn btn-success">
                    <i class="fas fa-search"></i>
                    Buscar
                </button>
            </div>
        </form>
    </div>

</div>
<hr>
<h2 class=" text-secondary">Listado</h2>
<div *ngIf="asignaturas.length==0" class="alerta alert-w">
    No hay registros
</div>

<table *ngIf="asignaturas.length>0" class="table table-striped">
    <thead class="bg-info text-white">
        <tr>
            <th>Nombre</th>
            <th>Ciclo</th>
            <th>Horas Autonomos</th>
            <th>Horas Docencia</th>
            <th>Horas Experimentacion</th>
            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let asignatura of asignaturas">
            <td>{{asignatura.nombre}}</td>
            <td>{{asignatura.ciclo.nombre}}</td>
            <td>{{asignatura.numero_autonomos}}</td>
            <td>{{asignatura.numero_docencia}}</td>
            <td>{{asignatura.numero_experimentacion}}</td>
            <td><button (click)="fijarUrl()" [routerLink]="['/asignatura/form', asignatura.id]"
                    class="btn btn-primary btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                    Editar
                </button></td>
        </tr>
    </tbody>
</table>