<div class="modal fade modal_tipo_repuesta" tabindex="-1" role="dialog" aria-labelledby="modalCriterio"
    aria-hidden="true" data-backdrop="static" data-target="#staticBackdrop">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="staticBackdropLabel">
                    Tipo de Pregunta
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label class="font-weight-bold" for="nombre">Tipo</label>
                        <input [(ngModel)]="tipo_pregunta.nombre" class="form-control" type="text" id="nombre"
                            name="nombre">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="subtipo">Subtipo</label>
                        <input [(ngModel)]="tipo_pregunta.subtipo" class="form-control" type="text" id="subtipo"
                            name="subtipo">
                    </div>
                </form>

                <h5 class="text-secondary">Tipos de Respuestas</h5>
                <button class="btn btn-info btn-xs mb-2 mt-0" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> <i
                        class="fas fa-plus"></i>
                    Agregar
                </button>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body bg-secondary">
                        <h6 class="text-center">Nuevo Tipo de Respuesta</h6>
                        <form>
                            <div class="form-group">
                                <label class="font-weight-bold" for="nombre">Tipo</label>
                                <input [(ngModel)]="tipo_respuesta.nombre" class="form-control" type="text" id="nombre"
                                    name="nombre">
                            </div>
                        </form>
                        <button data-target="#collapseExample" data-toggle="collapse" (click)="agregar()"
                            class="btn btn-success btn-sm"><i class="fas fa-check"></i>
                            Aceptar</button>

                    </div>
                </div>


                <div class="alert" style="background: #fff3cd;" role="alert"
                    *ngIf="tipo_pregunta.tipo_respuestas.length==0">
                    No hay subcriterios
                </div>


                <table *ngIf="tipo_pregunta.tipo_respuestas.length>0" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Subtipo</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-form="myForm" *ngFor="let tr of tipo_pregunta.tipo_respuestas">
                            <td><input class="form-control" name="tr.nombre" type="text" [(ngModel)]="tr.nombre"></td>
                            <td>
                                <button (click)="eliminar(tr)" class="btn btn-danger btn-sm"> <i
                                        class="fas fa-times-circle"></i> </button>

                                <span> </span>
                                <button class="btn btn-info btn-sm"> <i class="fas fa-edit"></i> </button>
                            </td>


                        </tr>


                    </tbody>

                </table>


                <div class="modal-footer">
                    <button (click)="tipo_pregunta.id ? editar():crear()" class="btn btn-primary btn-sm "
                        data-dismiss="modal">
                        <i class="fas fa-download"></i>
                        {{tipo_pregunta.id ? 'Actualizar':'Guardar'}}</button>

                    <button class="btn btn-warning btn-sm " data-dismiss="modal"> <i class="fas fa-times-circle"></i>
                        Cancelar</button>
                </div>


            </div>

        </div>
    </div>
</div>