<h3 class="text-center text-secondary pt-3">DISTRIBUTIVOS</h3>

<label class="badge badge-primary">Periodo Lectivo</label>
<div>{{periodo.periodo_academico}}</div>
<br>



<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Documentos: Horario de Clases - Distributivos <i class="fas fa-chevron-circle-down"></i>
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

                <button data-toggle="modal" data-target="#modalNuevoDocumento" class="btn btn-info btn-sm mb-3"> <i
                        class="fas fa-plus"></i> Agregar</button>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha Creación</th>
                            <th>Tipo de Documento</th>
                            <th>Nombre</th>
                            <th>Acción</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let documento of distributivo.documentos_distributivos">
                            <td>{{documento.fecha_creacion}}</td>
                            <td>{{documento.tipo_documento}}</td>
                            <td>{{documento.documento}}</td>

                            <td>
                                <a  target="_blank"
                                    href="{{rutaArchivo+documento.ruta+'/'+documento.documento}}">
                                    <i class="fas fa-eye"></i> Ver
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



<!--
<div class="card">
    <div class="card-header  text-white bg-secondary">Buscar Docentes</div>
    <div class="card-body">

        <form>

            <mat-form-field class="w-100">
                <label class="font-weight-bold">Periodo:</label>
                <mat-select [(value)]="periodo">
                    <mat-option [value]="undefined">--- Seleccione un Periodo ---</mat-option>
                    <mat-option *ngFor="let p of periodos" [value]="p">{{p.periodo_academico}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button (click)="cargarDocentes()" style="width: 100%;" class="btn btn-info">
                <i class="fas fa-download"></i>
                Cargar Docentes
            </button>

        </form>

    </div>
</div>
-->

<h4 class="text-secondary pb-2">Docentes</h4>
<div class="alert" style="background: #fff3cd;" role="alert" *ngIf="docentes.length==0">
    No se a encontrado ninguna carga horaria
</div>

<div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let docente of docentes;let i = index">
        <div class="card-header bg-secondary" id=" headingOne">
            <h5 class="mb-0">
                <button attr.name="docente" class="btn btn-link text-white" type="button" data-toggle="collapse"
                    attr.data-target="#docente{{i}}" aria-expanded="true" aria-controls="collapseOne">
                    {{docente.apellido}} {{docente.nombre}} <i class="fas fa-chevron-circle-down"> </i>
                    <span class="badge badge-warning ml-1">{{docente.cargas_horarias.length}}</span>
                </button>
            </h5>
        </div>

        <div id="docente{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <button (click)="fijarDocentePeriod(docente)" data-toggle="modal" data-target=".bd-example-modal-xl"
                    class="btn btn-sm btn-info">
                    <i class="fas fa-plus"> Asignar Materias</i>
                </button>

                <form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Asignatura</th>
                                <th>Paralelo</th>
                                <th>Ciclo</th>
                                <th>Carrera</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let carga of docente.cargas_horarias">
                                <td>{{carga.asignatura.nombre}}</td>
                                <td>{{carga.paralelo.nombre}}</td>
                                <td>{{carga.asignatura.ciclo.nombre}}</td>
                                <td>{{carga.asignatura.ciclo.carrera.nombre}}</td>
                                <button class="btn btn-danger btn-sm" (click)="eliminarAsignatura(carga,docente)"> <i
                                        class="fas fa-times-circle"></i></button>
                            </tr>

                        </tbody>
                    </table>
                    <button class="btn btn-success" (click)="distributivo.id ?editar(docente): guardar(docente)">
                        <i class="fas fa-download"></i>
                        Guardar
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>



<app-modal-asignacion (cargasEnviar)="recibirCargaModal($event)"></app-modal-asignacion>



<!-- MODAL PARA SUBIR LOS DOCUMENTOS -->






<!-- Modal -->
<div class="modal fade" id="modalNuevoDocumento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="custom-file">

                    <label for="">Tipo Documento:</label>
                    <select class="form-control" [(ngModel)]="tipoArchivo">
                        <option value="distributivo">Distributivo</option>
                        <option value="horario">Horario</option>
                    </select>


                    <input #inputGuia (change)="seleccionarArchivo($event)" type="file" id="inputGroupFile04">
                    <br>
                    <button (click)="subirArchivo()" [disabled]="!archivoSeleccionado" class="btn btn-success btn-sm"
                        type="button" id="inputGroupFileAddon04">
                        Subir
                    </button>
                </div>

                <div *ngIf="progreso > 0" class="progress" style="height: 5px;">
                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}"
                        attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                        {{progreso}}%
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>